<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: html(content=~{::content}, scripts=~{}, showSidebar=true)}">

<div th:fragment="content">
    <div class="container">
        <h2>태그 추가</h2>

        <div th:if="${newTagMessage}" class="alert alert-success" role="alert">
            <p th:text="${newTagMessage}"></p>
        </div>

        <form th:action="@{/admin/tags/add}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">태그 이름</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <button type="submit" class="btn btn-primary">태그 추가</button>
        </form>
    </div>
</div>

</html>
