<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: html(content=~{::content}, scripts=~{}, showSidebar=true)}">
<head>
    <title>책메이트</title>
</head>

<div th:fragment="content">
    <div class="homepage-search-container">
        <h2>Find Your Next Book</h2>
        <form action="/search" method="get" class="search-form-large">
            <input type="text" name="query" placeholder="Search by title, author, or keyword...">
            <button type="submit">Search</button>
        </form>
    </div>

</div>

</html>
